<header class="header shadow-sm bg-white">
  <div class="container py-3">
    <nav class="navbar navbar-expand-lg p-0" aria-label="Menu principal">
      <a routerLink="/" class="navbar-brand fw-bold" title="Accueil">
        <img src="assets/pictures/Logo.png" alt="Logo du site"/>
      </a>

      <!-- Bouton burger -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Ouvrir ou fermer le menu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Menu burger -->
       <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLink="/batiment" class="nav-link" title="Bâtiment">Bâtiment</a>
          </li>
          <li class="nav-item">
            <a routerLink="/services" class="nav-link" title="Services">Services</a>
          </li>
          <li class="nav-item">
            <a routerLink="/fabrication" class="nav-link" title="Fabrication">Fabrication</a>
          </li>
          <li class="nav-item">
            <a routerLink="/alimentation" class="nav-link" title="Alimentation">Alimentation</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <!-- Champs de recherche -->
<div class="container py-2 header-bottom">
  <form
    (ngSubmit)="onFilterChange()"
    class="row g-2 align-items-center"
    aria-label="Formulaire de recherche d'artisans"
  >
    <div class="col">
      <label for="inputName" class="visually-hidden">Nom</label>
      <input
        type="text"
        id="inputName"
        class="form-control"
        placeholder="Nom"
        [(ngModel)]="name"
        name="name"
        (ngModelChange)="onFilterChange()"
        aria-label="Filtrer par nom"
      />
    </div>

    <div class="col">
      <label for="inputSpecialty" class="visually-hidden">Spécialité</label>
      <input
        type="text"
        id="inputSpecialty"
        class="form-control"
        placeholder="Spécialité"
        [(ngModel)]="specialty"
        name="specialty"
        (ngModelChange)="onFilterChange()"
        aria-label="Filtrer par spécialité"
      />
    </div>

    <div class="col">
      <label for="inputLocation" class="visually-hidden">Localisation</label>
      <input
        type="text"
        id="inputLocation"
        class="form-control"
        placeholder="Localisation"
        [(ngModel)]="location"
        name="location"
        (ngModelChange)="onFilterChange()"
        aria-label="Filtrer par localisation"
      />
    </div>
  </form>
</div>
</header>
