input.form-control,
textarea.form-control {
  background-color: #f1f8fc;
  border: 1px solid #384050;
  transition: background-color 0.3s ease;
}

input.form-control:focus,
textarea.form-control:focus {
  background-color: #f1f8fc;
  border-color: #384050;
  outline: none;
  box-shadow: 0 0 5px #384050;
}

.form {
  max-width : 650px
}

