<section
  class="container my-5"
  [attr.aria-label]="'Liste des artisans de la catégorie ' + category"
>
  <h1 class="mb-4 text-capitalize"> Catégorie {{ category }}</h1>

  <div *ngIf="loading" class="text-center my-5">
    Chargement des artisans...
  </div>

  <div *ngIf="error && !loading" class="alert alert-warning" role="status">
    {{ error }}
  </div>

  <div class="row g-4" *ngIf="!loading && artisans.length > 0">
    <div class="col-md-6 col-lg-4" *ngFor="let artisan of artisans">
      <app-artisan-card [artisan]="artisan"></app-artisan-card>
    </div>
  </div>
</section>
