@import '../../_variables';

.artisan-card {
  border-radius: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  h5 {
    color: $blue;
  }
}

.rating {
  i.bi {
    font-size: 1.2rem;
  }

  .note-text {
    font-size: 1.1rem;
    color: #000;
    font-weight: 500;
  }
}

