<main
  class="w-100 px-4 py-5"
  role="main"
  aria-labelledby="pageTitle"
>
  <h1 id="pageTitle" class="fs-2 fw-bold">Erreur 404</h1>
  <p class="lead mb-4">
    Cette page n'existe pas ! Elle n'a jamais franchi la ligne d'arrivée.
  </p>

  <img
    src="assets/pictures/image-404.jpg"
    alt="Illustration d'une erreur 404"
    class="error-image img-fluid rounded shadow-sm mb-4"
  />

  <a
    routerLink="/"
    class="btn btn-primary rounded-pill"
    aria-label="Retour à la page d’accueil"
    >Retourner à la page d'accueil</a
  >
</main>



