

<app-header></app-header>
<router-outlet />

<div class="container py-5">
  <h1>Titre principal</h1>

  <div class="bloc-title">
    <div class="bloc-title__marker marker-red"></div>
    <h2>Mon titre rouge</h2>
  </div>

  <div class="bloc-title">
    <div class="bloc-title__marker marker-green"></div>
    <h2>Mon titre vert</h2>
  </div>

  <p class="lead">
    Ceci est un paragraphe avec la police Graphik et le texte en couleur de base.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, eveniet pariatur ea fuga cum architecto molestiae iusto nisi tempora minima,
    voluptates quos excepturi culpa, alias recusandae doloribus animi! Minus, quaerat.
  </p>

  <ul>
    <li>Maçonnerie générale</li>
    <li>Plomberie et chauffage</li>
    <li>Peinture intérieure</li>
  </ul>

  <button class="btn btn-primary">Bouton principal</button>
</div>
<app-footer></app-footer>